.background_container {
  // background-color: #212121;
  fill: conic-gradient(
    from 172deg at 55.63% 54.08%,
    #e230ff 0deg,
    #5aa6ed 120.00000357627869deg,
    #fed43e 305.41841983795166deg,
    #41a4ff 360deg
  );
  position: relative;
  .sun {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.mercury {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 43%;
  top: 42%;
  transform: translate(-50%, -50%);
  z-index: 20;
  animation: orbit1 1s linear infinite;
}
.venus {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  animation: 25rem;
  transform: translate(11rem);

  // animation: orbit1 1s linear infinite;
}

.venus1 {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 43%;
  top: 42%;
  transform: translate(-50%, -50%);
  z-index: 20;
  transform: translate(21.5rem);
  // animation: orbit3 1s linear infinite;
}
.venus2 {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 43%;
  top: 42%;
  transform: translate(-20.5rem, -12rem);
  z-index: 20;

  // animation: orbit4 8s linear infinite;
}
.venus3 {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 43%;
  top: 42%;
  transform: translate(38.5rem, 2rem);
  z-index: 20;
  // animation: orbit5 8s linear infinite;
}
.venus4 {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 43%;
  top: 42%;
  transform: translate(-38rem, 4rem);
  z-index: 20;
  // animation: orbit6 8s linear infinite;
}
.venus5 {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 43%;
  top: 42%;
  transform: translate(-33rem, -25rem);
  z-index: 20;
  // animation: orbit7 8s linear infinite;
}

@keyframes orbit1 {
  0% {
    transform: rotate(0deg) translate(12rem) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(12rem) rotate(-360deg);
  }
  // from {
  //   transform: rotate(360deg) translateX(5rem) rotate(-360deg);
  // }
  // to {
  //   transform: rotate(0deg) translateX(5rem) rotate(0deg);
  // }
}

@keyframes orbit2 {
  from {
    transform: rotate(0deg) translateX(11rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(10rem) rotate(-360deg);
  }
}

@keyframes orbit3 {
  from {
    transform: rotate(360deg) translateX(20rem) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translateX(20rem) rotate(0deg);
  }
}

@keyframes orbit4 {
  from {
    transform: rotate(0deg) translateX(35rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(35rem) rotate(-360deg);
  }
}

@keyframes orbit5 {
  from {
    transform: rotate(360deg) translateX(45rem) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translateX(45rem) rotate(0deg);
  }
}

@keyframes orbit6 {
  from {
    transform: rotate(0deg) translateX(55rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(55rem) rotate(-360deg);
  }
}

@keyframes orbit7 {
  from {
    transform: rotate(360deg) translateX(50rem) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translateX(50rem) rotate(0deg);
  }
}

.mercury__text {
  position: absolute;
  left: -62px;
  top: -11px;
}

.mercury__outline {
  border-radius: 50%;
  border: 1px solid white;
  border-image-slice: 1;
  opacity: 0.3;
  // border-image-source: linear-gradient(to right bottom, #6a5af9, #f62682);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 10rem;
  width: 10rem;
}

.circle {
  border-radius: 50%;
  border: 1px solid white;
  border-image-slice: 1;
  opacity: 0.4;
  // border-image-source: linear-gradient(to right bottom, #6a5af9, #f62682);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 25rem;
  width: 25rem;
}

.circle1 {
  border-radius: 50%;
  border: 1px solid white;
  border-image-slice: 1;
  opacity: 0.5;
  // border-image-source: linear-gradient(to right bottom, #6a5af9, #f62682);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 40rem;
  width: 40rem;
}

.circle2 {
  border-radius: 50%;
  border: 1px solid white;
  border-image-slice: 1;
  opacity: 0.6;
  // border-image-source: linear-gradient(to right bottom, #6a5af9, #f62682);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 55rem;
  width: 55rem;
}
.circle3 {
  border-radius: 50%;
  border: 1px solid white;
  border-image-slice: 1;
  opacity: 0.7;
  // border-image-source: linear-gradient(to right bottom, #6a5af9, #f62682);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 70rem;
  width: 70rem;
}

.circle4 {
  border-radius: 50%;
  border: 1px solid white;
  border-image-slice: 1;
  opacity: 0.8;
  // border-image-source: linear-gradient(to right bottom, #6a5af9, #f62682);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 85rem;
  width: 85rem;
}
.circle5 {
  border-radius: 50%;
  border: 1px solid white;
  border-image-slice: 1;
  opacity: 0.9;
  // border-image-source: linear-gradient(to right bottom, #6a5af9, #f62682);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 100rem;
  width: 100rem;
}
