.testimonial-box {
  position: relative;
}

.imgBx {
  width: 10rem;
  height: 10rem;
}

.message_fb {
  border-radius: 1.5rem;
  background-color: white;
  height: 80%;
}

.imgBx {
  width: 3.5rem;
  height: 3.5rem;
  flex-shrink: 0;
  border-radius: 3.5rem;
  border: 3px solid #32fff3;
  overflow: hidden;
  margin-right: 1rem;
}

.content_box {
  .name_client {
    color: #fff;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
  }
  .position {
    color: #999;
    font-size: 0.8125rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-style: normal;
    font-weight: 500;
  }
}
